section.advantages
    .container
        h2.advantages__title Более 5 лет создаем мебель для вашего комфорта
        .advantages-content
            .advantages__text
                p Мы — команда профессионалов, которые могут произвести любую мебель для вашего проекта, а также найти производственное решение любой задумки.
                p Наша основная цель — реализовывать самые смелые задумки, и делать это качественно и аккуратно.
                p В качестве материалов мы используем натуральные — стекло, дерево, бетон, камень, металл и эпоксидную смолу.
            .advantages-list
                .advantages-item
                    h3.advantages-item__head 1 год
                    .advantages-item__text гарантии на всю продукцию
                .advantages-item
                    h3.advantages-item__head 300+
                    .advantages-item__text выполненных проектов
                .advantages-item
                    h3.advantages-item__head 15 дней
                    .advantages-item__text срок производства