footer.footer
    .container
        .footer-company © 2023 Aveji, Все права защищены
        .footer-links
            a(href="#").footer__link Политика конфеденциальности /
            a(href="#").footer__link Оплата и доставка
        .footer-socials
            a(href="#").footer-socials__item Вконтакте
            a(href="#").footer-socials__item Телеграм