header.header
    .container
        a(href="#").header__logo
            img(src="images/logo.svg" alt="Aveji")
        nav.header-nav
            ul.header-nav__list
                li.header-nav__item.link
                    a(href="#") О нас
                li.header-nav__item.link
                    a(href="#") Проекты
                li.header-nav__item.link
                    a(href="#") Материалы
                li.header-nav__item.link
                    a(href="#") Отзывы
        a(href="tel:+7 999 999 99 99").header__tel.link +7 999 999 99 99