header.header
    .container 
        .header__burger.js-burger 
            span
            span
            span
        a.header__logo(href="#")
            img(src="images/logo.svg", alt="#") 
        .header-menu.js-menu
            .header-menu__overlay 
            nav.header-nav
                ul.header-nav__list 
                    li.header-nav__item.active 
                        a(href="#" data-text="Главная") 
                            span Главная
                    li.header-nav__item 
                        a(href="#" data-text="Аренда") 
                            span Аренда
                    li.header-nav__item 
                        a(href="#" data-text="Услуги") 
                            span Услуги
                    li.header-nav__item 
                        a(href="#" data-text="Цены") 
                            span Цены
                    li.header-nav__item 
                        a(href="#" data-text="Акции") 
                            span Акции
                    li.header-nav__item 
                        a(href="#" data-text="Новости") 
                            span Новости
                    li.header-nav__item 
                        a(href="#" data-text="О нас") 
                            span О нас
                    li.header-nav__item 
                        a(href="#" data-text="Контакты") 
                            span Контакты
                .header-menu__tel +7 (812) 322-6-555
                .header-menu__socials.socials
                    a(href="https://t.me/factoryfootball_ff" target="_blank").socials-item
                        +svgSprite('tg', 18, 18)
                    a(href="https://vk.com/ff_factoryfootbal" target="_blank").socials-item
                         +svgSprite('vk', 18, 18)
                    a(href="tel:+7(812)322-6-555").socials-item
                         +svgSprite('tel', 18, 18)
        a.header__tel(href="tel:+7(812)322-6-555") +7 (812) 322-6-555
        a(href="https://t.me/factoryfootball_ff" target="_blank").header__tg.socials-item
            +svgSprite('tg', 16, 16)
        a(href="https://vk.com/ff_factoryfootball" target="_blank").header__vk.socials-item
            +svgSprite('vk', 16, 16)
        a.header__call(href="#") Заказать звонок
        