section.hero
    .container
        .hero-head
            h1.hero__title Эксклюзивная <br> и нестандартная <br> мебель для дома
            a(href="#").hero__link Заказать проект
        .hero-content
            .hero-left
                .hero__text Мы можем произвести любую мебель для вашего проекта и найти производственное решение любой задумки.
                .hero__img
                    img(src="images/hero-img-small.png" alt="")
            .hero-right
                .hero__img
                    img(src="images/hero-img-big.png" alt="")