-
    var productItems = [
        {
            img: 'images/projects/project-1.png',
            title: 'Тумба под телевизор',
        },
        {
            img: 'images/projects/project-2.png',
            title: 'Кухонный гарнитур',
        },
        {
            img: 'images/projects/project-3.png',
            title: 'Оригинальное кресло',
        },
        {
            img: 'images/projects/project-4.png',
            title: 'Стенка в ванную',
        },
        {
            img: 'images/projects/project-5.png',
            title: 'Двухспальная кровать',
        },
        {
            img: 'images/projects/project-6.png',
            title: 'Комод',
        },
    ]
section.projects
    .container
        h2.projects__title Проекты
        .projects-list
            each item in productItems
                a(href="#").projects-item
                    .projects-item__img
                        img(src= item.img alt="")
                    .projects-item__info
                        .projects-item__title= item.title
                        .projects-item__icon
                            <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line x1="11.8684" y1="2.18556e-08" x2="11.8684" y2="12" stroke="white"/>
                                <line x1="12" y1="0.5" y2="0.5" stroke="white"/>
                                <line x1="11.722" y1="0.985145" x2="0.985134" y2="11.722" stroke="white"/>
                            </svg>
