section.work
    .container
        h2.work__title Как мы работаем
        .work-content
            .work__text Алгоритм работы с нами для удобства и понимания проекта
            .work-list
                .work-item
                    h3.work-item__title Идея
                    .work-item__text Клиент приходит к нам с идеей. Это может быть изображение/ эскиз или другой референс. А мы думаем над тем, как это реализовать, делаем технические чертежи и предлагаем решения по материалам.
                .work-item
                    h3.work-item__title Техническое задание
                    .work-item__text Вместе с клиентом формулируем корректное ТЗ, которое включает в себя визуализацию изделия, эскизный чертёж с габаритами, информацию по материалам и отделке, срок реализации проекта и другие обязательные пункты.
                .work-item
                    h3.work-item__title Коммерческое предложение
                    .work-item__text Предпочтительно используем натуральные материалы. Но любую смету можем оптимизировать, упростив материалы или конструктив. Сможем подстроиться под бюджет клиента и согласуем коммерческое предложение
                .work-item
                    h3.work-item__title Подготовка рабочего проекта
                    .work-item__text Создадим рабочую документацию и чертежи. Это фундамент качественного производства. На этом этапе утверждаем с клиентом все габариты и материалы, чертежи и приступаем к производству.
                .work-item
                    h3.work-item__title Производство и монтаж
                    .work-item__text Производство занимает от 15 рабочих дней, в зависимости от сложности и объёма. Монтажом тоже занимаемся самостоятельно. Ведь мы это сделаем быстро и аккуратно.