doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/swiper-bundle.css")
    link(rel="stylesheet", href="css/select2.min.css")
    link(rel="stylesheet", href="css/main.css")
    title Акции
  body 
    include includes/mixins
    include includes/header
    - 
      var newsList = [
        {
          idx: 1,
          title: 'Детские праздники: 10 идей как развлечь детей на новый год',
          date: '25.11.2022',
          text: 'Наши поля идеально подходят для проведения соревнований в формате 5х5, для тренировок, на которых вы сможете отрабатывать футбольные приёмы, совершенствовать контроль мяча, улучшать технику игры.'
        },
        {
          idx: 2,
          title: 'Детские праздники: 10 идей как развлечь детей на новый год',
          date: '25.11.2022',
          text: 'Наши поля идеально подходят для проведения соревнований в формате 5х5, для тренировок, на которых вы сможете отрабатывать футбольные приёмы, совершенствовать контроль мяча, улучшать технику игры.'
        },
        {
          idx: 3,
          title: 'Детские праздники: 10 идей как развлечь детей на новый год',
          date: '25.11.2022',
          text: 'Наши поля идеально подходят для проведения соревнований в формате 5х5, для тренировок, на которых вы сможете отрабатывать футбольные приёмы, совершенствовать контроль мяча, улучшать технику игры.'
        },
        {
          idx: 4,
          title: 'Детские праздники: 10 идей как развлечь детей на новый год',
          date: '25.11.2022',
          text: 'Наши поля идеально подходят для проведения соревнований в формате 5х5, для тренировок, на которых вы сможете отрабатывать футбольные приёмы, совершенствовать контроль мяча, улучшать технику игры.'
        },
        {
          idx: 5,
          title: 'Детские праздники: 10 идей как развлечь детей на новый год',
          date: '25.11.2022',
          text: 'Наши поля идеально подходят для проведения соревнований в формате 5х5, для тренировок, на которых вы сможете отрабатывать футбольные приёмы, совершенствовать контроль мяча, улучшать технику игры.'
        },
        {
          idx: 6,
          title: 'Детские праздники: 10 идей как развлечь детей на новый год',
          date: '25.11.2022',
          text: 'Наши поля идеально подходят для проведения соревнований в формате 5х5, для тренировок, на которых вы сможете отрабатывать футбольные приёмы, совершенствовать контроль мяча, улучшать технику игры.'
        }
      ]
    main
      .breadcrumbs 
        .container 
          .breadcrumbs-list 
            a.breadcrumbs__item(href="#") Услуги
            a.breadcrumbs__item(href="#") Страница статьи
      .article 
        .container 
          .article-content 
              .article-section
                h1 H1. Пример заголовка контентной страницы в две строки
                p Бампербол– это спортивный комплекс комфорт-класса, расположенный на юге Санкт-Петербурга. Мы постарались создать идеальные условия, чтобы игра в футбол, а также другие виды спорта превратились в приятный отдых и повод для встречи. Пусть людей с активной жизненной позицией становится больше!.
                  | Бампербол– это спортивный комплекс комфорт-класса, расположенный на юге Санкт-Петербурга. Мы постарались создать идеальные условия, чтобы игра в футбол, а также другие виды спорта превратились в приятный отдых и повод для встречи. Пусть людей с активной жизненной позицией становится больше!
              .article__img 
                img(src="images/article/article-img.png", alt="")
                .article__img-badges 
                  .article__img-badge Командная игра
                  .article__img-badge Идеально для дня рождения
                  .article__img-badge Детям и взрослым
                .article__img-text Подготовка и проведение, сбор и анализ статистики, подведение итогов, отчёт
              .article-section 
                h2 H2 - Пример заголовка контентной страницы в две строки
                p Бампербол– это спортивный комплекс комфорт-класса, расположенный на юге Санкт-Петербурга. Мы постарались создать идеальные условия, чтобы игра в футбол, а также другие виды спорта превратились в приятный отдых и повод для встречи. Пусть людей с активной жизненной позицией становится больше!.
                  | Бампербол– это спортивный комплекс комфорт-класса, расположенный на юге Санкт-Петербурга. Мы постарались создать идеальные условия, чтобы игра в футбол, а также другие виды спорта превратились в приятный отдых и повод для встречи. Пусть людей с активной жизненной позицией становится больше!
                p Бампербол– это спортивный комплекс комфорт-класса, расположенный на юге Санкт-Петербурга. Мы постарались создать идеальные условия, чтобы игра в футбол, а также другие виды спорта превратились в приятный отдых и повод для встречи. Пусть людей с активной жизненной позицией становится больше!.
                  | Бампербол– это спортивный комплекс комфорт-класса, расположенный на юге Санкт-Петербурга. Мы постарались создать идеальные условия, чтобы игра в футбол, а также другие виды спорта превратились в приятный отдых и повод для встречи. Пусть людей с активной жизненной позицией становится больше!
              .article-section 
                h3 H3 - Пример заголовка контентной страницы в две строки
                p Бампербол– это спортивный комплекс комфорт-класса, расположенный на юге Санкт-Петербурга. Мы постарались создать идеальные условия, чтобы игра в футбол, а также другие виды спорта превратились в приятный отдых и повод для встречи. Пусть людей с активной жизненной позицией становится больше!.
                  | Бампербол– это спортивный комплекс комфорт-класса, расположенный на юге Санкт-Петербурга. Мы постарались создать идеальные условия, чтобы игра в футбол, а также другие виды спорта превратились в приятный отдых и повод для встречи. Пусть людей с активной жизненной позицией становится больше!
                p Бампербол– это спортивный комплекс комфорт-класса, расположенный на юге Санкт-Петербурга. Мы постарались создать идеальные условия, чтобы игра в футбол, а также другие виды спорта превратились в приятный отдых и повод для встречи. Пусть людей с активной жизненной позицией становится больше!.
                  | Бампербол– это спортивный комплекс комфорт-класса, расположенный на юге Санкт-Петербурга. Мы постарались создать идеальные условия, чтобы игра в футбол, а также другие виды спорта превратились в приятный отдых и повод для встречи. Пусть людей с активной жизненной позицией становится больше!
              .article-section 
                h4 H4 - Пример заголовка контентной страницы в две строки
                p Бампербол– это спортивный комплекс комфорт-класса, расположенный на юге Санкт-Петербурга. Мы постарались создать идеальные условия, чтобы игра в футбол, а также другие виды спорта превратились в приятный отдых и повод для встречи. Пусть людей с активной жизненной позицией становится больше!.
                  | Бампербол– это спортивный комплекс комфорт-класса, расположенный на юге Санкт-Петербурга. Мы постарались создать идеальные условия, чтобы игра в футбол, а также другие виды спорта превратились в приятный отдых и повод для встречи. Пусть людей с активной жизненной позицией становится больше!
                p Бампербол– это спортивный комплекс комфорт-класса, расположенный на юге Санкт-Петербурга. Мы постарались создать идеальные условия, чтобы игра в футбол, а также другие виды спорта превратились в приятный отдых и повод для встречи. Пусть людей с активной жизненной позицией становится больше!.
                  | Бампербол– это спортивный комплекс комфорт-класса, расположенный на юге Санкт-Петербурга. Мы постарались создать идеальные условия, чтобы игра в футбол, а также другие виды спорта превратились в приятный отдых и повод для встречи. Пусть людей с активной жизненной позицией становится больше!
              .article-section 
                h5 H5 - Пример заголовка контентной страницы в две строки
                p Бампербол– это спортивный комплекс комфорт-класса, расположенный на юге Санкт-Петербурга. Мы постарались создать идеальные условия, чтобы игра в футбол, а также другие виды спорта превратились в приятный отдых и повод для встречи. Пусть людей с активной жизненной позицией становится больше!.
                | Бампербол– это спортивный комплекс комфорт-класса, расположенный на юге Санкт-Петербурга. Мы постарались создать идеальные условия, чтобы игра в футбол, а также другие виды спорта превратились в приятный отдых и повод для встречи. Пусть людей с активной жизненной позицией становится больше!
                p Бампербол– это спортивный комплекс комфорт-класса, расположенный на юге Санкт-Петербурга. Мы постарались создать идеальные условия, чтобы игра в футбол, а также другие виды спорта превратились в приятный отдых и повод для встречи. Пусть людей с активной жизненной позицией становится больше!.
                | Бампербол– это спортивный комплекс комфорт-класса, расположенный на юге Санкт-Петербурга. Мы постарались создать идеальные условия, чтобы игра в футбол, а также другие виды спорта превратились в приятный отдых и повод для встречи. Пусть людей с активной жизненной позицией становится больше!
      include section/_article-list
    include includes/footer