doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/main.css" rel="stylesheet")
    title Sitemap
  body

    main(style="padding: 24px;")
      div(style="font-size: 32px; line-height: 1.3; margin-bottom: 40px;") Карта сайта
      ul 
        li 
          a(href="main.html") Главная
        li 
          a(href="rent.html") Аренда
        li 
          a(href="footbal-field.html") Поле для футбола
        li 
          a(href="badminton-field.html") Корт для бадминтона
        li 
          a(href="florball-field.html") Поле для флорбола
        li 
          a(href="news.html") Спсок новостей
        li 
          a(href="article.html") Статья (Новость)
        li 
          a(href="pricelist.html") Прайслист
        li 
          a(href="stock-list.html") Список акций
        li 
          a(href="stock.html") Акция
