doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/swiper-bundle.css")
    link(rel="stylesheet", href="css/main.css")
    title Главная
  body 
    include includes/mixins
    include section/_desc
    include includes/header
    main 
      section.hero 
        .container 
          .hero-wrapper 
            .hero-content
              .hero-info 
                .hero__subtitle Детские праздники
                .hero__title Организация футбольных праздников для детей в СПб
                  .hero__badge Паркет
                .hero-services 
                  .hero-services__item 
                    span до 15
                    | человек
                  .hero-services__item 
                    span от 1 
                    | часа
                  .hero-services__item 
                    span от 1550 ₽ 
                    | в час
                .hero__btn.btn.btn--icon Хочу праздник!
              .hero-img
                img(src="images/hero/hero-img.png", alt="") 
      section.section.desc 
        .container 
          .desc-content 
            .desc__title Оригинально отметить детский праздник юного футболиста? Легко!
            .desc__text 
              p Что может быть лучше, чем провести праздник на футбольном поле и как следует поиграть и повеселиться? «Фабрика Футбола»  предлагает взрослым в организации незабываемых футбольных праздников для детей! Все вопросы берем на себя!
      include section/_special
      include section/_gallery
      section.section.advantages
        .container
          .section-head 
            h2.section__title Наши преимущества
          .advantages-info.desc-content 
            .desc__title Все по-взрослому! Совсем не детский футбол
            .desc__text 
              p В нашем центре есть все необходимое для полноценной игры: раздевалки, душевые, спортивный инвентарь, услуги тренера, арбитра, медкабинет, зона разминки. Теперь вы точно знаете, где отметить День Рождения!
          include section/_advantages
      include section/_additional-services
      section.section
        .container 
          .section-head 
            h2.section__title Арендуйте поле для специльных мероприятий!
            .section__link.link-more
              span Все услуги
              +svgSprite('arrow-green', 13, 13)
          include section/events
      include section/order
    include includes/footer