doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/swiper-bundle.css")
    link(rel="stylesheet", href="css/main.css")
    title Главная
  body 
    include includes/mixins
    include includes/header
    main 
      include section/hero
      section.section
        .container 
          .section-head 
            h2.section__title КАКУЮ ИГРУ ПРЕДПОЧИТАЕТЕ?
          include section/game-list
      section.section
        .container 
          .section-head 
            h2.section__title ЕЩЕ БОЛьШЕ ВОЗмОЖНОСТЕЙ!
          include section/possibility-list
      include section/_scheme
      include section/application
      section.section
        .container 
          .section-head 
            h2.section__title Еще больше развлечений!
            .section__link.link-more
              span Все услуги
              +svgSprite('arrow-green', 13, 13)
          include section/events
      include section/_stock
      section.section
        .container 
          .section-head 
            h2.section__title о комплексе
            a(href="/about.html").section__link.link-more
              span Подробнее
              +svgSprite('arrow-green', 13, 13)
          include section/complex
      include section/adv
      include section/order
    include includes/footer