doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/swiper-bundle.css")
    link(rel="stylesheet", href="css/select2.min.css")
    link(rel="stylesheet", href="css/main.css")
    title Главная
  body 
    include includes/mixins
    include includes/header
    main.rent
      section.section
        .container  
          h1.rent__title Выбрать поле по виду спорта
          include section/game-list
      section.section
        .container 
          .section-head 
            h2.section__title АРЕНДА ИГРОВЫХ ПОЛЕЙ
          include section/_rent
      include section/_scheme
      include section/application
      include section/order
    include includes/footer