doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/swiper-bundle.css")
    link(rel="stylesheet", href="css/select2.min.css")
    link(rel="stylesheet", href="css/main.css")
    title Главная
  body 
    include includes/mixins
    include section/_desc
    include includes/header
    main 
      section.hero 
        .container 
          .hero-wrapper 
            .hero-content
              .hero-info 
                .hero__subtitle школа «Фабрики Футбола»
                .hero__title Школа футбола для детей в СПб
                  .hero__badge Паркет
                .hero-services 
                  .hero-services__item 
                    span 20x40 
                    | метров
                  .hero-services__item 
                    span до 50
                    | человек
                  .hero-services__item 
                    span от 1 часа
                    | аренды
                .hero__btn.btn.btn--icon Подать заявку!
              .hero-img
                img(src="images/hero/hero-img.png", alt="") 
      section.section.faq 
        .container 
          .section-head 
            h2.section__title О поле
          .faq-item 
            .faq-item__title Что такое Школа Футбола?
            .faq-item__text Нёрфинг- это активные бои для детей и их родителей с бластерами из самой крутой линейки детских пушек Hasbro, где патроны — поролоновые шарики. Скорость полета шарика достигает 30 метров в секунду! 
          .faq-item 
            .faq-item__title В чем преимущества?
            .faq-item__text 
              p Это — мощные бластеры последнего поколения. Их главным отличием от других моделей бластеров является использование круглых, мягких пуль вместо традиционных стрел.
              | Пули обладают гораздо лучшими показателями по дальности стрельбы, увереннее держатся в полете и способны нанести максимально точный удар. Пружинящий материал снарядов не причиняет телесных повреждений. В нашем арсенале есть как детские миниганы, так и взрослые пушки.
              p Созданы специально для командной игры, они превращают привычный нёрфинг в нечто совершенно новое и невероятно захватывающее!
          .faq-item
            .faq-item__title Кому подходит?
            .faq__text В нашем спортивном комплексе работают профессиональные тренеры, которые составят план тренировок и учтут индивидуальные особенности каждого ребенка- так, дети помладше будут постигать азы футбола в игровой форме, а для детей постарше, акцент сделан на технику и мастерство. Для того чтобы тренировки проходили наиболее продуктивно и комфортно, численность одной группы составляет от 8 до 10 человек.
          .faq-item
            .faq-item__title Как вступить в Школу и сколько это стоит?
            .faq-item__text В нашем спортивном комплексе работают профессиональные тренеры, которые составят план тренировок и учтут индивидуальные особенности каждого ребенка- так, дети помладше будут постигать азы футбола в игровой форме, а для детей постарше, акцент сделан на технику и мастерство. Для того чтобы тренировки проходили наиболее продуктивно и комфортно, численность одной группы составляет от 8 до 10 человек.
      include section/_gallery
      section.section.advantages
        .container
          .section-head 
            h2.section__title Наши преимущества
          .advantages-info.desc-content 
            .desc__title Все по-взрослому! Совсем не детский футбол
            .desc__text 
              p В нашем центре есть все необходимое для полноценной игры: раздевалки, душевые, спортивный инвентарь, услуги тренера, арбитра, медкабинет, зона разминки. Теперь вы точно знаете, где отметить День Рождения!
          include section/_advantages
      include section/_schedule
      include section/_price
      include section/order
    include includes/footer