.tags {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;

  .tag {
    padding: 7px 12px;
    background-color: var(--color-dark);
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 10px;
    font-size: 12px;
    line-height: 1;
  }
}