.form {
  &-row {
    display: flex;
    gap: 10px;

    @include media(md) {
      flex-direction: column;
      gap: 0;
    }
  }

  &-item {
    width: 100%;
    position: relative;
    margin-bottom: 10px;

    &::before {
      position: absolute;
      content: "";
      right: 16px;
      top: 50%;
      width: 13px;
      height: 13px;
      background: url("../images/cross-error.svg") center center / 13px
        no-repeat;
      transform: translateY(-50%);
      opacity: 0;
    }

    &.is-active {
      .form__input {
        background-color: var(--color-white);
        border-color: #e9f5df;
      }
    }

    &.is-error {
      position: relative;
      &::before {
        opacity: 1;
      }

      .form__input {
        border-color: var(--color-orange);
      }
    }
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    background: #f9f9f9;
    border: 1px solid #e4e4e7;
    border-radius: 12px;
    font-size: 14px;
    line-height: 1;
    padding: 17px 15px;
    outline: none;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    font-family: "Manrope";

    &::placeholder {
      font-weight: 400;
      font-family: "Manrope";
    }

    &:focus {
      background-color: var(--color-white);
      border-color: var(--color-green);

      &::placeholder {
        display: none;
        opacity: 0;
      }
    }
  }

  &__textarea {
    box-sizing: border-box;
    width: 100%;
    background: #f9f9f9;
    border: 1px solid #e4e4e7;
    border-radius: 12px;
    font-size: 14px;
    line-height: 1;
    padding: 17px 15px;
    outline: none;

    &:focus {
      background-color: var(--color-white);
      border-color: var(--color-green);

      &::placeholder {
        display: none;
        opacity: 0;
      }
    }
  }

  &__btn {
    &.btn {
      max-width: 240px;
      margin: 16px auto 0;
      width: 100%;
      display: block;
    }
  }

  &__text {
    margin-top: 16px;
    text-align: center;
    font-size: 11px;
    line-height: 1.25;
    font-family: "Manrope";
    font-weight: 400;

    a {
      color: var(--color-primary);
      display: inline;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__label {
    display: none;
  }

  &__aproove {
    max-width: 400px;
    margin-top: 16px;
    font-size: 11px;
    line-height: 1.45;

    a {
      color: var(--color-primary);
    }

    span {
      color: var(--color-primary);
    }
  }

  &-section {
    background-color: var(--color-white);
    padding: 16px;
    border-radius: 12px;

    + .form-section {
      margin-top: 16px;
    }

    &__title {
      margin-bottom: 24px;
    }

    &__body {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      @include media(md) {
        grid-template-columns: 1fr;
        gap: 12px;
      }
    }
  }
}

.nice-select {
  width: 100%;
  font-family: "Manrope", sans-serif;
  height: 50px;
  background: #ffffff;
  border: 1px solid #e9f5df;
  border-radius: 12px;
  display: flex;
  align-items: center;
  font-size: 15px;

  &.open {
    border-color: var(--color-green);

    &::after  {
      transform: rotate(-180deg);
    }
  }

  &:active {
    border-color: var(--color-green);
  }

  &::after {
    border: none;
    width: 13px;
    height: 13px;
    background: url('../images/select-arrow.svg') center center / 13px no-repeat;
    transform: rotate(0);
    transform-origin: center center;
  }

 .nice-select-dropdown {
  width: 100%;
 }

  .list {
    width: 100%;
    padding: 6px;
  }


  .option {
    border-radius: 11px;
    font-size: 15px;
    &:hover {
      background: #E9F5DF;
    }
  }

  .option.selected {
    position: relative;
    font-weight: 400;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 16px;
      width: 12px;
      height: 12px;
      background: url('../images/select-choose.svg') center center / 12px no-repeat;
      transform: translateY(-50%);
    }
  }

  .option.selected.focus {
    background: transparent;
  }
}
