.form {

  &-row {
    display: flex;
    gap: 10px;

    @include media(md) {
      flex-direction: column;
      gap: 0;
    }
  }

  &-item {
    width: 100%;
    position: relative;
    margin-bottom: 10px;

    &::before {
      position: absolute;
      content: '';
      right: 16px;
      top: 50%;
      width: 13px;
      height: 13px; 
      background: url('../images/cross-error.svg') center center / 13px no-repeat;
      transform: translateY(-50%);
      opacity: 0;
    }

    &.is-active {
      
      .form__input {
        background-color: var(--color-white);
        border-color: #E9F5DF;
      }
    }

    &.is-error {
      position: relative;
      &::before {
        opacity: 1;
      }

      .form__input {
        border-color: var(--color-orange);
      }
    }
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    background: #F9F9F9;
    border: 1px solid #E4E4E7;
    border-radius: 12px;
    font-size: 14px;
    line-height: 1;
    padding: 17px 15px;
    outline: none;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;

    &:focus {
      background-color: var(--color-white);
      border-color: var(--color-green);

      &::placeholder {
        display: none;
        opacity: 0;
      }
    }
  }

  &__textarea {
    box-sizing: border-box;
    width: 100%;
    background: #F9F9F9;
    border: 1px solid #E4E4E7;
    border-radius: 12px;
    font-size: 14px;
    line-height: 1;
    padding: 17px 15px;
    outline: none;

    &:focus {
      background-color: var(--color-white);
      border-color: var(--color-green);

      &::placeholder {
        display: none;
        opacity: 0;
      }
    }
  }

  &__btn {
    &.btn {
      max-width: 240px;
      margin: 16px auto 0;
      width: 100%;
      display: block;
    }
  }

  &__text {
    margin-top: 16px;
    text-align: center;
    font-size: 11px;
    line-height: 1.25;

    a {
      color: var(--color-primary);
      display: inline;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__label {
    display: none;
  }

  &__aproove {
    max-width: 400px;
    margin-top: 16px;
    font-size: 11px;
    line-height: 1.45;

    a {
      color: var(--color-primary);
    }

    span {
      color: var(--color-primary);
    }
  }

  &-section {
    background-color: var(--color-white);
    padding: 16px;
    border-radius: 12px;

    + .form-section {
      margin-top: 16px;
    }

    &__title {
      margin-bottom: 24px;
    }

    &__body {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      @include media(md) {
        grid-template-columns: 1fr;
        gap: 12px;
      }
    }
  }
}

