*, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body.noscroll {
  position: fixed;
  left: 0;
  right: 0;
}

body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: var(--line-height);
  text-rendering: optimizespeed;
  background-color: var(--color-bg);

  &.scroll {
    height: 100vh;
    overflow: hidden;
  }
}


ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  background-color: transparent;
  border: none;
}

img,
iframe {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

 .link {
   position: relative;
   white-space: nowrap;

   &::before {
     content: '';
     position: absolute;
     width: 100%;
     height: 1px;
     background: currentColor;
     top: 100%;
     left: 0;
     pointer-events: none;
     transform-origin: 100% 50%;
     transform: scale3d(0, 1, 1);
     transition: transform 0.3s;
   }

   &:hover {

     &:before {
       transform-origin: 0% 50%;
       transform: scale3d(1, 1, 1);
     }
   }
 }

.container {
  max-width: 1336px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;

  @include media(sm) {
    padding: 0 16px;
  }
}

.link-more {
  padding: 13px 16px;
  background-color: var(--color-white);
  color: var(--color-primary);
  width: auto;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  border-radius: 16px;
  cursor: pointer;

  svg {
    width: 13px;
    height: 13px;
    fill: var(--color-primary);
  }

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-white);

    svg {
      fill: var(--color-white);
    }
  }
}