h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1.25;
}

h1 {
  font-size: 72px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  font-size: 48px;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 32px;

  @include media(md) {
    margin-bottom: 20px;
  }
}

h3 {
  font-size: 36px;
  line-height: 1.25;
  font-weight: 400;
}
