:root {
  // Global
  --font-family: 'Play', sans-serif;
  --font-second: 'Manrope', sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
  --border-radius: 8px;
  --transition: 0.4s ease-in-out;


  // Colors
  --color-black: #000;
  --color-dark: #1B1D20;
  --color-white: #fff;
  --color-text: #2C3035;
  --color-primary: #2A9054;
  --color-secondary: #C6F221;
  --color-green: #66B821;
  --color-green-darken: #00662A;
  --color-yellow: #EABA40;
  --color-bg: #F5F5F5;

  --color-neutral: #D9D9D9;
  --color-gray: #767A85;
  --color-border: #C0C0B9;
  --color-orange: #FF6633;



  // Z-index
  --z-index-header: 100;
  --z-index-menu: 200;
  --z-index-dropdown: 300;
  --z-index-modal: 1000;
}
