.about {
  padding: 72px 0 60px 0;
  letter-spacing: 0.06rem;

  @include media(sm) {
    padding: 32px 0;
  }

  &__title {
    margin-bottom: 48px;
    text-transform: uppercase;

    @include media(sm) {
      margin-bottom: 36px;
    }
  }

  &-video {
    display: flex;
    padding: 35px 0;
    gap: 24px;

    @include media(sm) {
      padding: 24px 0;
      gap: 15px;
    }

    @include media(xs)  {
      flex-direction: column;
      align-items: center;
    }
    
    &__item {
      width: 100%;
      overflow: hidden;
      box-shadow: 0px 4px 40px rgba(11, 12, 13, 0.05);
      border-radius: 36px;

      @include media(sm) {
        border-radius: 24px;
      }

      iframe {

        @include media(lg) {
          height: 303px;
        }

        @include media(md) {
          height: 254px;
        }
         
        @include media(sm) {
          height: 185px;
        }

        @include media(xs) {
          height: 191px;
        }
      }
    }
  }

  &-info {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    padding-top: 36px;

    @include media(sm) {
      gap: 16px;
      flex-direction: column;
    }

    &__title {
      max-width: 504px;
      width: 100%;
      font-size: 32px;
      line-height: 1.25;

      @include media(sm) {
        font-size: 24px;
      }
    }

    &__text {
      font-size: 18px;
      line-height: 1.4;
      font-weight: 400;
      width: 100%;
      font-family: 'Manrope';

      p {
        + p {
          margin-top: 24px;
        }
      }

      @include media(sm) {
        font-size: 16px;
      }

      span {
        font-weight: 700;
        color: var(--color-green);
      }
    }
  }

  &-nums {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    width: 100%;
    margin-top: 48px;

    @include media(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(sm) {
      gap: 16px;
    }

    @include media(xs) {
      grid-template-columns: 1fr;
    }

    &__item {
      width: 100%;
      padding: 24px;
      min-height: 144px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: var(--color-white);
      box-shadow: 0px 4px 40px rgba(11, 12, 13, 0.05);
      border-radius: 36px;
      text-align: center;
      font-size: 50px;
      font-weight: 700;
      line-height: .8;
      color: var(--color-green);

      @include media(sm)  {
        font-size: 32px;
      }

      @include media(sm)  {
        border-radius: 16px;
        padding: 16px;
        min-height: 108px;
      }

      span {
        max-width: 155px;
        margin: 0 auto;
        letter-spacing: 0.1rem;
        font-size: 16px;
        line-height: 1.4;
        color: #0B0C0D;
        text-align: center;
        display: block;
        margin-top: 8px;
        text-transform: uppercase;
        font-weight: 400;
  
        @include media(sm)  {
          font-size: 14px;
        }
      }
    }
  }
}
