.application {

  &-wrapper {
    max-width: 1075px;
    margin: 0 auto;
    padding: 24px;
    border-radius: 70px;
    background: url('../images/order-bg.png') center center / cover no-repeat;

    @include media(md) {
      padding: 16px;
    }

    @include media(sm) {
      border-radius: 24px;
    }
  }

  &-content {
    background: var(--color-white);
    backdrop-filter: blur(1.5px);
    border-radius: 48px;
    padding: 36px;

    @include media(md) {
      padding: 24px;
    }
    
    @include media(sm) {
      border-radius: 24px;
      padding: 16px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 10px;
  }

  &__subtitle {
    text-align: center;
    font-family: 'Manrope';
    font-weight: 400;
  }

  &-head {
    margin-bottom: 36px;

    @include media(sm) {
      margin-bottom: 24px;
    } 
  }

  &-form {
    display: flex;
    gap: 24px;

    @include media(sm) {
      flex-direction: column;
    }

    &-left ,
    &-right {
      width: 100%;
    }

    &-right {
      .application-section {
        background: #F9F9F9;
        border-radius: 16px;
        padding: 16px;
      }
    }
  }

  &-section {

    + .order-section {
      margin-top: 26px;
    }

    &__title {
      font-weight: 700;
      line-height: 1;
      margin-bottom: 16px;
      padding-left: 10px;
    }
  }

  &-bottom {
    width: 100%;
    padding-top: 16px;
    margin-top: 16px;
    border-top: 1px solid #EFEFF1;
  }

  &-total {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @include media(sm) {
      flex-direction: column;
      gap: 16px;
    } 
  }

  &__btn {
    width: 100%;
    max-width: 240px;
    text-align: center;

    @include media(xs) {
      max-width: 100%;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    line-height: 1;

    span {
      font-weight: 700;
    }
  }

  &__text {
    max-width: 805px;
    margin: 12px auto 0;
    text-align: center;
    color: #5A5F6D;
    font-size: 10px;
    line-height: 1.3;
  }
    
}