.article {

  &-slider {
    overflow: hidden;
    padding: 24px;
    margin: -24px;
  }

  &-content {
    max-width: 965px;
    padding: 36px 48px;
    background-color: var(--color-white);
    border-radius: 48px;

    @include media(sm) {
      border-radius: 24px;
      padding: 24px;
    }

    @include media(xs) {
      padding: 16px;
    }
  }

  &__img {
    max-width: 715px;
    width: 100%;
    position: relative;
    border-radius: 40px;
    margin: 24px 0 36px;
    
    img {
      display: block;
      border-radius: 40px;
      width: 100%;

      @include media(sm) {
        border-radius: 16px;
      }
    }

    &-badges {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 40px;
      left: 0;

      @include media(sm) {
        top: 20px;
      }
    }

    &-badge {
      background-color: var(--color-dark);
      color: var(--color-white);
      font-size: 12px;
      line-height: 1;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .1rem;
      border-radius: 0px 10px 10px 0px;
      margin-bottom: 7px;
      padding: 7px 12px;

      @include media(sm) {
        font-size: 10px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &-text {
      text-align: center;
      color: var(--colog-gray);
      margin-top: 24px;
      line-height: 1;
    }
  }

  &-section {
    margin-bottom: 36px;

    @include media(sm) {
      margin-bottom: 24px;
    }

    + .article-section {
      padding-top: 24px;

      @include media(sm) {
        padding-top: 16px;
      }
    }
    
    h1,h2,h3,h4,h5 {
      margin: 0 0 24px 0;
    }

    p {
      font-size: 15px;
      line-height: 1.25;

      + p {
        margin-top: 16px;
      }
    }
  }
}