.breadcrumbs {
  padding: 36px 0 0 60px;

  @include media(sm) {
    padding: 24px 0 0 6px;
  }

  &-list {
    display: flex;
    align-items: center;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  &__item {
    white-space: nowrap;
    padding-right: 60px;
    margin-right: 30px;
    position: relative;
    color: var(--color-gray);
    font-weight: 700;
    font-size: 15px;
    line-height: 1;

    @include media(sm) {
      padding-right: 32px;
      margin-right: 16px;
    }

    &::before {
      position: absolute;
      content: '';
      width: 30px;
      height: 1px;
      right: 0;
      top: 50%;
      background-color:var(--color-gray);
      transform: translateY(-50%);

      @include media(sm) {
        width: 16px;
      }
    }

    &:last-of-type {
      padding-right: 0;
      margin-right: 0;
      color: var(--color-dark);

      &::before {
        display: none;
      }
    }
  }
}