.capability {
  padding: 72px 0;

  &-item {
    display: flex;
    align-items: center;
    gap: 72px;

    @include media(lg) {
      gap: 32px;
    }

    @include media(sm) {
      flex-direction: column;
      padding: 0;
      gap: 16px;
    }

    &--right {
      flex-direction: row-reverse;

      @include media(sm) {
        flex-direction: column;
      }
    }

    + .capability-item {
      margin-top: 72px;

      @include media(sm) {
        margin-top: 32px;
      }
    }

    &__img {
      max-width: 600px;
      width: 100%;
      border-radius: 48px;
      overflow: hidden;

      @include media(sm) {
        max-width: 100%;
        border-radius: 24px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &__info {
      max-width: 552px;
      width: 100%;

      @include media(sm) {
        max-width: 100%;
      }
    }

    &__title {
      font-size: 30px;
      line-height: 1.25;
      font-weight: 700;
      margin-bottom: 24px;

      @include media(sm) {
        font-size: 18px;
        margin-bottom: 16px;
      }
    }

    &__text {

      @include media(sm) {
        font-size: 14px;
      }

      p + p {
        margin-top: 24px;
      }

      span {
        color: var(--color-green); 
      }
    }
  }
}