.card-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 40px rgba(11, 12, 13, 0.05);
  border-radius: 36px;
  padding: 12px;
  background-color: var(--color-white);
  overflow: hidden;

  &__img {
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 12px;

    img {
      width: 100%;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.16;
  }

  &__info {
    padding: 8px 10px 16px;
    margin-bottom: 12px;
  }

  &__bottom {
    padding: 12px 16px 12px 36px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: end;
    align-self: flex-end;
    background: #f9f9f9;
    border-radius: 36px 0px 0px 0px;
    gap: 15px;
    margin: 0 -12px -12px 0;
  }

  &__price {
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
  }

  &__icon {
    width: 32px;
    height: 32px;
    background-color: var(--color-white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
  }
}
