.complex {

  &-desc {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 48px;

    @include media(sm) {
      flex-direction: column;
      gap: 16px;
      margin-bottom: 32px;
    }

    &__title {
      font-size: 32px;
      line-height: 1.35;

      @include media(sm)  {
        font-size: 24px;
      }
    }

    &__text {
      max-width: 689px;
      width: 100%;

      @include media(sm)  {
        font-size: 16px;
      }
    }
  }

  &-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    width: 100%;

    @include media(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(sm) {
      gap: 16px;
    }

    @include media(xs) {
      grid-template-columns: 1fr;
    }

    &__item {
      width: 100%;
      padding: 24px;
      min-height: 144px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: var(--color-white);
      box-shadow: 0px 4px 40px rgba(11, 12, 13, 0.05);
      border-radius: 36px;
      text-align: center;

      @include media(sm)  {
        border-radius: 16px;
        padding: 16px;
        min-height: 108px;
      }
    }

    &__num {
      font-size: 50px;
      line-height: .8;
      font-weight: 700;
      margin-bottom: 8px;
      color: var(--color-secondary);

      @include media(sm)  {
        font-size: 32px;
      }
    }

    &__text {
      max-width: 155px;
      margin: 0 auto;
      letter-spacing: 0.1rem;

      @include media(sm)  {
        font-size: 14px;
      }
    }
  }

}