.filter {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow-y: auto;

  @include media(sm) {
    padding: 0 16px;
    margin: 0 -16px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &-item {
    padding: 14px 20px;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    background-color: var(--color-white);
    white-space: nowrap;
    border: 1px solid #F4F4F5;
    border-radius: 16px;
    cursor: pointer;

    &.active,
    &:hover {
      background-color: var(--color-secondary);
      color: var(--color-dark);
      border-color: var(--color-secondary);
    }
  }
}