.hero {
  padding: 36px 0 48px;

  @include media(sm) {
    padding: 32px 0;
  }

  &-wrapper {
    padding: 20px;
    background-color: var(--color-white);
    border-radius: 60px;
    box-shadow: 0px 4px 40px rgba(11, 12, 13, 0.05);

    @include media(sm) {
      padding: 16px;
      border-radius: 24px;
    }
  }

  &-wrapper {
    overflow: hidden;
  }

  &-content {
    display: flex;
    align-items: center;
    gap: 24px;
    // padding: 20px;
    // background-color: var(--color-white);
    // border-radius: 60px;
    // box-shadow: 0px 4px 40px rgba(11, 12, 13, 0.05);

    @include media(sm)  {
      // padding: 16px;
      // border-radius: 24px;
      flex-direction: column;
      gap: 0;
    }
  }

  &-img {
    max-width: 728px;
    width: 100%;
    overflow: hidden;
    border-radius: 48px;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
    }

    @include media(sm) {
      border-radius: 16px;
    }
  }

  &-info {
    max-width: 506px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30.5px;

    @include media(lg) {
      padding: 24px;
    }

    @include media(sm) {
      padding: 16px 0;
    }
  }

  &__btn {
    max-width: 240px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  &__logo {
    margin-bottom: 24px;

    @include media(lg) {
      max-width: 200px;
    }

    @include media(sm) {
      margin-bottom: 16px;
    }
  }

  &__desc {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 24px;

    @include media(lg) {
      font-size: 16px;
    }

    @include media(sm) {
      margin-bottom: 16px;
    }
  }

  &__tags {
    margin-bottom: 40px;

    @include media(sm) {
      margin-bottom: 24px;
    }
  }

  &__subtitle {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--color-green);
    letter-spacing: .1rem;
    margin-bottom: 16px;
    font-weight: 700;
  }

  &__title {
    font-size: 36px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 16px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;

    @include media(sm)  {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  &__badge {
    padding: 6px 12px;
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    background-color: var(--color-yellow);
    letter-spacing: .1rem;
    border-radius: 10px;
  }

  &__text {
    margin-bottom: 20px;

    @include media(sm)  {
      margin-bottom: 16px;
    }
  }

  &-services {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 36px;

    @include media(sm)  {
      margin-bottom: 24px;
    }

    &__item {
      padding: 18px 12px;
      background: #F9F9F9;
      border-radius: 20px;
      text-align: center;
      font-size: 14px;
      line-height: 1;

      span {
        display: block;
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 16px;

        @include media(sm)  {
          font-size: 14px;
        }
      }
    }
  }
}