.news {
  padding: 72px 0;

  @include media(sm) {
    padding: 36px 0;
  }


  &-content {
    max-width: 965px;
    width: 100%;
  }

  &-pagination {
    margin-top: 36px;
  }

  &-filter {
   
    &.filter {
      margin-bottom: 48px;

      @include media(sm) {
        margin-bottom: 32px;
      }
    }
  }

  &-item {
    display: flex;
    align-items: stretch;
    padding: 12px 32px 12px 12px;
    box-shadow: 0px 4px 40px rgba(11, 12, 13, 0.05);
    border-radius: 40px;
    background-color: var(--color-white);
    overflow: hidden;

    @include media(xs) {
      flex-direction: column;
      align-items: flex-start;
      border-radius: 24px;
      padding: 12px;
    }

    + .news-item {
      margin-top: 36px;

      @include media(xs)  {
        margin-top: 16px;
      }
    }

    &__img {
      max-width: 350px;
      width: 100%;
      height: 100%;
      border-radius: 34px;
      overflow: hidden;
      margin-right: 36px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @include media(xs) {
        max-width: 320px;
        border-radius: 16px;
        margin-right: 0;
      }
    }

    &__info {
      width: 100%;
      display: flex;
      height: auto;
      flex-direction: column;
      align-items: flex-start;
      padding: 12px 0 0 0;
    }

    &__title {
      font-size: 22px;
      line-height: 1.2;
      margin-bottom: 16px;
      font-weight: 700;

      @include media(xs) {
        font-size: 18px;
      }
    }

    &__date {
      padding: 6px 12px;
      font-size: 13px;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: .1rem;
      background-color: var(--color-dark);
      color: var(--color-white);
      border-radius: 12px;
      margin-bottom: 16px;
    }

    &__text {
      font-size: 14px;
      line-height: 1.4;
      margin-bottom: 6px;
    }

    &__bottom {
      display: flex;
      align-items: center;
      gap: 8px;
      align-self: flex-end;
      padding: 6px 16px 6px 36px;
      background: #F9F9F9;
      border-radius: 36px 0px 0px 0px;
      font-weight: 700;
      font-size: 17px;
      margin: auto -32px -12px 0;
      cursor: pointer;
      transition: .2s;

      &:hover {
        background-color: #66B821;
        color: var(--color-white);
        transition: .2s;
      }
  
      &:active {
        background-color: #55991B;
        color: var(--color-white);
        transition: .2s;
      }
    }

    &__link {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-white);
      border-radius: 50%;
    }
  }
}
