.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  &-button {
    width: 35px;
    height: 35px;
    color: var(--color-gray);
    font-size: 16px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: var(--color-white);
      font-weight: 700;
      color: var(--color-dark);
      border-radius: 12px;
      opacity: .6;
    }

    &.active {
      background-color: var(--color-white);
      font-weight: 700;
      color: var(--color-dark);
      border-radius: 12px;
    }

    &--prev {
      margin-right: 8px;
    }

    &--next {
      margin-left: 8px;
      
      svg {
        transform: rotate(180deg);
      }
    }
  }
}