.page {
  padding: 72px 0;

  @include media(sm) {
    padding: 40px 0;
  }

  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;

    @include media(sm) {
      flex-wrap: wrap;
      gap: 16px;
      margin-bottom: 32px;
    }

    h1 {
      text-transform: uppercase;
      font-size: 40px;
      line-height: 52px;
  
      
      @include media(md)  {
        font-size: 36px;
        line-height: 48px;
      }
  
      @include media(sm) {
        font-size: 30px;
        line-height: 38px;
      }
  
      @include media(xs) {
        font-size: 28px;
        line-height: 36px;
      }
    }
  }
}