.pricelist {
  padding: 72px 0 48px;

  @include media(sm) {
    padding: 48px 0 32px;
  }

  &__doc {
    box-shadow: 0px 4px 40px rgba(11, 12, 13, 0.05);
    padding: 4px 4px 4px 16px;
    color: var(--dark);

    svg {
      width: 36px;
      height: 36px;
      
    }
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 60px;

    @include media(sm) {
      margin-bottom: 40px;
    }
  }

  &-section {
    &__title {
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 700;
      color: var(--color-green);
      padding: 12px 0;
      margin-bottom: 24px;
    }

    + .pricelist-section {
      margin-top: 60px;

      @include media(sm) {
        margin-top: 40px;
      }
    }
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e4e4e7;

    @include media(sm) {
      flex-wrap: wrap;
    }

    + .pricelist-item {
      margin-top: 25px;

      @include media(sm) {
        margin-top: 16px;
      }
    }

    &__info {
      font-size: 18px;
      line-height: 1;
      font-weight: 700;
      width: 55%;
      display: flex;
      align-items: center;
      gap: 8px;

      @include media(md){
        flex-wrap: wrap;
        gap: 10px 8px;
      }
    }

    &__name {
      font-size: 18px;
      line-height: 1;
      font-weight: 700;

      @include media(md) {
        width: 100%;
      }

      @include media(sm) {
        font-size: 20px;
      }
    }

    &__time {
      font-size: 15px;
      text-transform: uppercase;
      color: var(--color-gray);
      line-height: 1;
      text-align: center;
      font-weight: 400;
      flex-shrink: 0;
      white-space: nowrap;
    }

    &__badge {
      padding: 4px 8px;
      font-size: 11px;
      line-height: 1;
      font-weight: 700;
      color: var(--color-white);
      background-color: var(--color-yellow);
      border-radius: 7px;
      letter-spacing: .1rem;
      text-transform: uppercase;
      font-weight: 700;

      &.bg-green {
        background-color: var(--color-green);
      }
      &.bg-yellow {
        background-color: var(--color-yellow);
      }
    }

    &__hour {
      font-weight: 700;
      font-size: 18px;
      line-height: 1;
      width: 20%;
      text-align: center;

      @include media(sm) {
        font-size: 16px;
      }

      @include media(xs) {
        width: 100%;
        order: 5;
        text-align: left;
      }
    }

    &__rate {
      font-size: 20px;
      line-height: 1;
      color: var(--color-gray);
      width: 20%;
      text-align: right;

      @include media(sm) {
        font-size: 18px;
      }

      @include media(sm) {
        width: auto;
      }
    }
  }
}
