
.stock {

  &-item {
    position: relative;
    width: calc(33.3333% - 16px);
    background-color: var(--color-white);
    border-radius: 40px;
    overflow: hidden;
    transition: .3s;
    display: flex;
    flex-direction: column;
    height: auto;

    @include media(md) {
      width: calc(50% - 12px);
    }

    @include media(sm) {
      border-radius: 16px;
    }

    @include media(xs) {
      width: 100%;
    }

    &__img {
      border-radius: 36px;
      overflow: hidden;

      @include media(sm) {
        border-radius: 16px;
      }
      
      img {
        width: 100%;
      }
    }
    
    &__title {
      width: calc(100% - 64px);
      padding: 16px 16px 16px 22px;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.33;
      cursor: pointer;
      color: var(--color-dark);

      @include media(sm) {
        font-size: 16px;
      }
    }

    &__bottom {
      position: absolute;
      right: 0;
      bottom: 0;
      background: #F9F9F9;
      border-radius: 36px 0px 0px 0px;
      padding: 16px;
      cursor: pointer;
      transition: .2s;

      &:hover {
        background-color: #66B821;
        color: var(--color-white);
        transition: .2s;
      }
  
      &:active {
        background-color: #55991B;
        color: var(--color-white);
        transition: .2s;
      }
    }

    &__icon {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: var(--color-white);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}