section.section.additional-services
  .container 
    .section-head 
      h2.section__title ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ
    .additional-services
      .pricelist-section 
        .pricelist-item 
          .pricelist-item__head 
            .pricelist-item__top
              .pricelist-item__name Аренда поля будни
              .pricelist-item__time (с 09:00-18:00)
              .pricelist-item__badge выходной
            .pricelist-item__bottom Подготовка и проведение, сбор и анализ статистики, подведение итогов, отчёт
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 1500 ₽/час 
        .pricelist-item 
          .pricelist-item__head 
            .pricelist-item__top
              .pricelist-item__name Аренда поля будни
              .pricelist-item__time (с 09:00-18:00)
              .pricelist-item__badge выходной
            .pricelist-item__bottom Профессиональный футбольный судья по футболу и мини-футболу
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 1500 ₽/час 
        .pricelist-item 
          .pricelist-item__head 
            .pricelist-item__top
              .pricelist-item__name Аренда поля будни
              .pricelist-item__time (с 09:00-18:00)
              .pricelist-item__badge выходной
          .pricelist-item__hour 1 час
          .pricelist-item__rate 800 ₽/час  
      .pricelist-section 
        .pricelist-item 
          .pricelist-item__head 
            .pricelist-item__top
              .pricelist-item__name Аренда поля будни
              .pricelist-item__time (с 09:00-18:00)
              .pricelist-item__badge выходной
            .pricelist-item__bottom Фотосъёмка игры
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 1500 ₽/час 
        .pricelist-item 
          .pricelist-item__head 
            .pricelist-item__top
              .pricelist-item__name Аренда поля будни
              .pricelist-item__time (с 09:00-18:00)
              .pricelist-item__badge выходной
            .pricelist-item__bottom Игровые, командные фото, закрытия, открытия
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 1500 ₽/час 
        .pricelist-item 
          .pricelist-item__head 
            .pricelist-item__top
              .pricelist-item__name Аренда поля будни
              .pricelist-item__time (с 09:00-18:00)
              .pricelist-item__badge выходной
            .pricelist-item__bottom Фотосъёмка мероприятия, персональные, на фотокарточки
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 1500 ₽/час 
      .pricelist-section 
        .pricelist-item 
          .pricelist-item__head 
            .pricelist-item__top
              .pricelist-item__name Аренда поля будни
              .pricelist-item__time (с 09:00-18:00)
              .pricelist-item__badge выходной
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 2000 ₽/час 
        .pricelist-item 
          .pricelist-item__head 
            .pricelist-item__top
              .pricelist-item__name Аренда поля будни
              .pricelist-item__time (с 09:00-18:00)
              .pricelist-item__badge выходной
          .pricelist-item__hour 1 час
          .pricelist-item__rate 700 ₽
        .pricelist-item 
          .pricelist-item__head 
            .pricelist-item__top
              .pricelist-item__name Аренда поля будни
              .pricelist-item__time (с 09:00-18:00)
              .pricelist-item__badge выходной
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 1000 ₽/час  
        .pricelist-item 
          .pricelist-item__head 
            .pricelist-item__top
              .pricelist-item__name Аренда поля будни
              .pricelist-item__time (с 09:00-18:00)
              .pricelist-item__badge выходной
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 2000 ₽/час 
        .pricelist-item 
          .pricelist-item__head 
            .pricelist-item__top
              .pricelist-item__name Аренда поля будни
              .pricelist-item__time (с 09:00-18:00)
              .pricelist-item__badge выходной
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 1500 ₽/час 
        .pricelist-item 
          .pricelist-item__head 
            .pricelist-item__top
              .pricelist-item__name Аренда поля будни
              .pricelist-item__time (с 09:00-18:00)
              .pricelist-item__badge выходной
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 3000 ₽/час 