section.section.additional-services
  .container 
    .section-head 
      h2.section__title ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ
    .additional-services
      .pricelist-section 
        .pricelist-item 
          .pricelist-item__info
                span.pricelist-item__name Ведение турнира
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 1500 ₽/час 
        .pricelist-item 
          .pricelist-item__info
                span.pricelist-item__name Футбольный судья
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 1500 ₽/час 
        .pricelist-item 
          .pricelist-item__info
                span.pricelist-item__name Хронометрист 
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 1500 ₽/час 
        .pricelist-item 
          .pricelist-item__info
                span.pricelist-item__name Фотосъёмка игры
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 1500 ₽/час 
        .pricelist-item 
          .pricelist-item__info
                span.pricelist-item__name Фотосъёмка мероприятия 
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 1500 ₽/час 
        .pricelist-item 
          .pricelist-item__info
                span.pricelist-item__name Фотоуслуги турнира
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 1500 ₽/час 
        .pricelist-item 
          .pricelist-item__info
                span.pricelist-item__name Видеосъёмка 
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 1500 ₽/час 
        .pricelist-item 
          .pricelist-item__info
                span.pricelist-item__name Видео с камер наблюдения (2 шт.)
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 1500 ₽/час 
        .pricelist-item 
          .pricelist-item__info
                span.pricelist-item__name Видеонарезка моментов с камер наблюдения (2 шт.)
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 1500 ₽/час 
        .pricelist-item 
          .pricelist-item__info
                span.pricelist-item__name Видеосъёмка турнира 
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 1500 ₽/час 
        .pricelist-item 
          .pricelist-item__info
                span.pricelist-item__name Видеонарезка с камеры
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 1500 ₽/час 
        .pricelist-item 
          .pricelist-item__info
                span.pricelist-item__name Видеоклип по турниру 
          .pricelist-item__hour 1 час
          .pricelist-item__rate от 1500 ₽/час 