-
  let advantagesItems = [
    {
      img: 1,
      title: 'Игровые поля',
      text: 'Идеально подходят для отрабатывания футбольных приёмов, совершенствования контроль мяча, улучшения техники игры.'
    },
    {
      img: 2,
      title: 'Балкон для зрителей',
      text: 'Тренировки проводятся с чередованием, что позволяет улучшить показатели игры'
    },
    {
      img: 3,
      title: 'Трава последнего поколения',
      text: 'Мы обеспечиваем не только комфортную игру, но и положительно скажутся на здоровье детей'
    },
    {
      img: 4,
      title: 'Покрытие Regupol',
      text: 'Оборудованы теплыми полами, душевыми и всеми необходимыми удобствами'
    },
    {
      img: 4,
      title: 'Инвентарь',
      text: 'Опытный врач всегда сможет оказать помощь малышу в случае возникновения необходимости'
    },
    {
      img: 5,
      title: 'Раздевалки',
      text: 'Опытный врач всегда сможет оказать помощь малышу в случае возникновения необходимости'
    },
        {
      img: 6,
      title: 'Разминочная',
      text: 'Опытный врач всегда сможет оказать помощь малышу в случае возникновения необходимости'
    },
    {
      img: 4,
      title: 'Медкабинет',
      text: 'Опытный врач всегда сможет оказать помощь малышу в случае возникновения необходимости'
    },
  ]


.section.advantages
  .container
    .section-head 
      h2.section__title Наши преимущества
    .advantages-list 
      each item in advantagesItems
        .advantages-item 
          .advantages-item__img 
            img(src=`images/advantages/advantages-${item.img}.png`, alt="")
          .advantages-item__info 
            .advantages-item__title= item.title
            .advantages-item__text= item.text