section.section.article-list 
  .container 
    .section-head 
      h2.section__title ЧИТАЙТЕ ТАКЖЕ
      .section-link.link-more 
        span Все услуги
        +svgSprite('arrow-green', 13, 13)
    .article-slider.js-article-slider
      .swiper-wrapper 
        .article-item.swiper-slide 
          .article-item__img 
            img(src="images/events/events-1.png", alt="")
          .article-item__info
            .article-item__title Детские праздники: 10 идей как развлечь детей на новый год
            .article-item__date 25.11.2022
            .article-item__bottom 
              span Далее
              .article-item__link
                +svgSprite('arrow-black', 13, 13)
        .article-item.swiper-slide 
          .article-item__img 
            img(src="images/events/events-1.png", alt="")
          .article-item__info
            .article-item__title Детские праздники: 10 идей как развлечь детей на новый год
            .article-item__date 25.11.2022
            .article-item__bottom 
              span Далее
              .article-item__link
                +svgSprite('arrow-black', 13, 13)
        .article-item.swiper-slide 
          .article-item__img 
            img(src="images/events/events-1.png", alt="")
          .article-item__info
            .article-item__title Детские праздники: 10 идей как развлечь детей на новый год
            .article-item__date 25.11.2022
            .article-item__bottom 
              span Далее
              .article-item__link
                +svgSprite('arrow-black', 13, 13)
        .article-item.swiper-slide 
          .article-item__img 
            img(src="images/events/events-1.png", alt="")
          .article-item__info
            .article-item__title Детские праздники: 10 идей как развлечь детей на новый год
            .article-item__date 25.11.2022
            .article-item__bottom 
              span Далее
              .article-item__link
                +svgSprite('arrow-black', 13, 13)
        .article-item.swiper-slide 
          .article-item__img 
            img(src="images/events/events-1.png", alt="")
          .article-item__info
            .article-item__title Детские праздники: 10 идей как развлечь детей на новый год
            .article-item__date 25.11.2022
            .article-item__bottom 
              span Далее
              .article-item__link
                +svgSprite('arrow-black', 13, 13)
      .slider-navigation 
        .slider-prev
          +svgSprite('arrow-gray', 15, 15) 
        .swiper-pagination
        .slider-next
          +svgSprite('arrow-gray', 15, 15)
