section.section.capability
  .container 
    .section-head 
      h2.section__title Наши возможности
    .capability-item 
      .capability-item__img 
        img(src="images/capability/capability-1.png", alt="")
      .capability-item__info 
        .capability-item__title Турниры по футболу и другим видам спорта
        .capability-item__text
          p Наши квалифицированные организаторы не только грамотно распланируют турнир 
          | от начала до конца, но и будут присутствовать на протяжении всего мероприятия, 
          | координируя работу персонала. Вы получите эффективный тимбилдинг, укрепление 
          | корпоративной культуры и командного духа внутри компании, поддержите образ 
          | спортивной компании не только среди сотрудников, но и клиентов компании 
          | – отчеты о мероприятии будут самые красочные.
    .capability-item.capability-item--right
      .capability-item__img 
        img(src="images/capability/capability-2.png", alt="")
      .capability-item__info 
        .capability-item__title Спартакиада трудовых коллективов
        .capability-item__text
          p Хотите конкурсы на выносливость – пожалуйста, на смекалку и многозадачность 
          | – легко, просто отдохнуть в весёлой компании – тоже не проблема. 
          | Мы без труда справимся с любыми вашими пожеланиями!
          p Сотрудники и руководители в неформальной обстановке раскрывают 
          | новые таланты, укрепляют взаимоотношения, коллективно преодолевают 
          | трудности, превращая физкультуру в настоящий праздник спортивного духа. 
          | Значение подобных Спартакиад трудно переоценить, ведь сплоченный коллектив, 
          | дружно, качественно и эффективно работающий над задачами 
          | организации – мечта всех руководителей.
    .capability-item 
      .capability-item__img 
        img(src="images/capability/capability-3.png", alt="")
      .capability-item__info 
        .capability-item__title Корпоративные футбольные праздники
        .capability-item__text
          p Сегодня традиционные корпоративы утратили 
          | свою прежнюю актуальность, сотрудникам нужно яркое мероприятие – футбольный 
          | праздник! На таких мероприятиях могут присутствовать семьи участников 
          | и не играющие сотрудники, ведь в рамках праздника их ждёт 
          | ещё и развлекательная программа.