
- 
 let descBadminton = {
  title:'«Фабрика Футбола» — идеальное место для игры в бадминтон!',
  text: 'Благодаря мобильным стойкам, наши спортивные площадки легко и быстро превращаются в 8 бадминтонных кортов, а специальное освещение способствует комфортной игре. На наших кортах проводят свои тренировки призеры Всероссийских и международных турниров по парабадминтону!'
 }

  let descFlorball = {
    title: 'Флорбол — известный вид спорта в скандинавских странах',
    text: '' 
  }
