.event
  .container 
    .event-content 
      .event__img 
        img(src="images/event-img.png", alt="")
      .event-info 
        .event__text 
          p «Фабрика Футбола» любит яркие события и готова помочь вам его организовать. Мы располагаем <span>обширными площадями</span>, готовыми <span>принять ваше мероприятие.</span>
          p Удобная транспортная доступность помогут вашим гостям легко добраться и остаться довольными бесплатной парковкой прямо у входа в комплекс.
          p Приятные интерьеры, комфортные раздевалки и <span>все необходимые удобства</span> позволят расслабиться и наслаждаться событием не отвлекаясь на бытовые мелочи.