section.section.capability
  .container 
    .section-head 
      h2.section__title ПРЕИМУЩЕСТВА НАШИХ ПОЛЕЙ
    .capability-item 
      .capability-item__img 
        img(src="images/capability/capability-1.png", alt="")
      .capability-item__info 
        .capability-item__title Искусственная трава для мини-футбола
        ul.capability-item__list 
          li Полиэтиленовый ворс
          li Кварцевый наполнитель
          li Полиэтиленовая подложка
    .capability-item.capability-item--right
      .capability-item__img 
        img(src="images/capability/capability-2.png", alt="")
      .capability-item__info 
        .capability-item__title Искусственное покрытие REGUPOL для мини-футбола
        ul.capability-item__list 
          li Бесшовный финишный слой
          li Бесшовная заливка
          li Базовый эластичный мат «Regupol » 
          li Адгезионный слой
          li Основание бесшовное покрытие
    .capability-item 
      .capability-item__img 
        img(src="images/capability/capability-3.png", alt="")
      .capability-item__info 
        .capability-item__title Комфортные условия для игры
        ul.capability-item__list 
          li Яркое освещение
          li Вентиляция