section.price.section 
  .container
    .section-head 
      h2.section__title Цены
    .price-content 
      .price-item 
        .price-item__amount 1 час
        .price-item__num 1 550 ₽
        .price-item__btn.btn Арендовать
      .price-item 
        .price-item__amount 3 часа
        .price-item__num 2 990 ₽
          span.price-item__num--old 5 990 ₽
        .price-item__btn.btn Арендовать
      .price-item 
        .price-item__title Особые условия
        .price-item__text для организаторов турниров и длительных мероприяти 
        .price-item__btn.btn Арендовать