

.rent-list 
  .card-item
    .card-item__img 
      img(src=`images/entertaiments/entertaiments-1.png`, alt="")
    .card-item__info 
      .card-item__head
        .card-item__title Поле №1
        .card-item__type паркет
      .card-item__games Футбол
      .card-item__games Бадминтон
      .card-item__games Мини-футбол
    .card-item__bottom 
      .card-item__bottom-text Арендовать поле
      .card-item__icon
        +svgSprite('arrow-black', 15, 15)
  .card-item
    .card-item__img 
      img(src=`images/entertaiments/entertaiments-1.png`, alt="")
    .card-item__info 
      .card-item__head
        .card-item__title Поле №1
        .card-item__type паркет
      .card-item__games Футбол
      .card-item__games Бадминтон
      .card-item__games Мини-футбол
    .card-item__bottom 
      .card-item__bottom-text Арендовать поле
      .card-item__icon
        +svgSprite('arrow-black', 15, 15)
  .card-item
    .card-item__img 
      img(src=`images/entertaiments/entertaiments-1.png`, alt="")
    .card-item__info 
      .card-item__head
        .card-item__title Поле №1
        .card-item__type паркет
      .card-item__games Футбол
      .card-item__games Бадминтон
      .card-item__games Мини-футбол
    .card-item__bottom 
      .card-item__bottom-text Арендовать поле
      .card-item__icon
        +svgSprite('arrow-black', 15, 15)
  .card-item
    .card-item__img 
      img(src=`images/entertaiments/entertaiments-1.png`, alt="")
    .card-item__info 
      .card-item__head
        .card-item__title Поле №1
        .card-item__type паркет
      .card-item__games Футбол
      .card-item__games Бадминтон
      .card-item__games Мини-футбол
    .card-item__bottom 
      .card-item__bottom-text Арендовать поле
      .card-item__icon
        +svgSprite('arrow-black', 15, 15)
  .card-item
    .card-item__img 
      img(src=`images/entertaiments/entertaiments-1.png`, alt="")
    .card-item__info 
      .card-item__head
        .card-item__title Поле №1
        .card-item__type паркет
      .card-item__games Футбол
      .card-item__games Бадминтон
      .card-item__games Мини-футбол
    .card-item__bottom 
      .card-item__bottom-text Арендовать поле
      .card-item__icon
        +svgSprite('arrow-black', 15, 15)
  .card-item
    .card-item__img 
      img(src=`images/entertaiments/entertaiments-1.png`, alt="")
    .card-item__info 
      .card-item__head
        .card-item__title Поле №1
        .card-item__type паркет
      .card-item__games Футбол
      .card-item__games Бадминтон
      .card-item__games Мини-футбол
    .card-item__bottom 
      .card-item__bottom-text Арендовать поле
      .card-item__icon
        +svgSprite('arrow-black', 15, 15)
    