section.section.schedule 
  .container 
    .section-head 
      h2.section__title РАСПИСАНИЕ ЗАНЯТИЙ
    .schedule-group
      .schedule-group__info 
        .schedule-group__type Старшая группа 
        .schedule-group__years (2004/2007 — 2008/2009)
      .schedule-list 
        .schedule-item.active
          .schedule-item__day Пн
          .schedule-item__time 17:00 — 18:30
        .schedule-item.active
          .schedule-item__day Вт
          .schedule-item__time 17:00 — 18:30
        .schedule-item
          .schedule-item__day Ср
          .schedule-item__time —
        .schedule-item.active
          .schedule-item__day Чт
          .schedule-item__time 16:30 — 18:00
        .schedule-item
          .schedule-item__day Пт
          .schedule-item__time —
        .schedule-item
          .schedule-item__day Сб
          .schedule-item__time —
        .schedule-item
          .schedule-item__day Вс
          .schedule-item__time —
    .schedule-group
      .schedule-group__info 
        .schedule-group__type Средняя группа 
        .schedule-group__years (2010/2012 — 2016/2017)
      .schedule-list 
        .schedule-item.active
          .schedule-item__day Пн
          .schedule-item__time 17:00 — 18:30
        .schedule-item.active
          .schedule-item__day Вт
          .schedule-item__time 17:00 — 18:30
        .schedule-item
          .schedule-item__day Ср
          .schedule-item__time —
        .schedule-item.active
          .schedule-item__day Чт
          .schedule-item__time 16:30 — 18:00
        .schedule-item
          .schedule-item__day Пт
          .schedule-item__time —
        .schedule-item
          .schedule-item__day Сб
          .schedule-item__time —
        .schedule-item
          .schedule-item__day Вс
          .schedule-item__time —
    .schedule-group
      .schedule-group__info 
        .schedule-group__type Младшая группа 
        .schedule-group__years (2004/2007 — 2008/2009)
      .schedule-list 
        .schedule-item.active
          .schedule-item__day Пн
          .schedule-item__time 17:00 — 18:30
        .schedule-item.active
          .schedule-item__day Вт
          .schedule-item__time 17:00 — 18:30
        .schedule-item
          .schedule-item__day Ср
          .schedule-item__time —
        .schedule-item.active
          .schedule-item__day Чт
          .schedule-item__time 16:30 — 18:00
        .schedule-item
          .schedule-item__day Пт
          .schedule-item__time —
        .schedule-item
          .schedule-item__day Сб
          .schedule-item__time —
        .schedule-item
          .schedule-item__day Вс
          .schedule-item__time —