section.section.tournaments 
  .container 
    .tournaments-list 
      .tournaments-item 
        .tournaments-item__img 
          img(src="images/tournaments/tournaments-1.png", alt="")
        .tournaments-item__title Детские и взрослые футбольные турниры
        .tournaments-item__price 1500 ₽/час 
        .tournaments-item__btn.btn Организовать турнир
      .tournaments-item 
        .tournaments-item__img 
          img(src="images/tournaments/tournaments-2.png", alt="")
        .tournaments-item__title Турниры других видов спорта
        .tournaments-item__price 1500 ₽/час 
        .tournaments-item__btn.btn Организовать турнир
      .tournaments-item 
        .tournaments-item__img 
          img(src="images/tournaments/tournaments-3.png", alt="")
        .tournaments-item__title Спартакиады трудовых коллективов
        .tournaments-item__price 1500 ₽/час 
        .tournaments-item__btn.btn Организовать турнир
      .tournaments-item 
        .tournaments-item__img 
          img(src="images/tournaments/tournaments-4.png", alt="")
        .tournaments-item__title Нормативы комплекса ГТО
        .tournaments-item__price 1500 ₽/час 
        .tournaments-item__btn.btn Организовать турнир