section.section.application 
  .container 
    .application-wrapper 
      .application-content 
        .application-head 
          h2.application__title ЗАЯВКА НА АРЕНДУ ПОЛЯ
          .application__subtitle Заполните форму, и наш специалист свяжется с Вами для подтверждения заказа:
        form.application-form(action="#")
          .application-form-left 
            .application-section 
              .application-section__title Данные игры
              .form-row 
                .form-item 
                  select.js-select(name="" data-name="Выберите поле") 
                    option(value="1") Поле 1 (трава)
                    option(value="2") Поле 2 (песок)
                    option(value="3") Поле 3 (покрытие)
                .form-item 
                  select.js-select(name="" data-name="Выберите дату") 
                    option(value="1") 16 мая 2023
                    option(value="2") 17 мая 2023
                    option(value="3") 18 мая 2023
              .form-row 
                .form-item 
                  select.js-select(name="" data-name="Выберите время") 
                    option(value="1") 12:00
                    option(value="2") 13:00
                    option(value="3") 14:00
                .form-item 
                  select.js-select(name="" data-name="Продолжительность ") 
                    option(value="1") 1 час
                    option(value="2") 2 часа
                    option(value="3") 3 часа
            .application-section 
              .application-section__title Ваши данные
              .form-item 
                label.form__label(for="") 
                input.form__input(type="text" placeholder="Ваше имя")
              .form-item 
                label.form__label(for="") 
                input.form__input(type="text" class="js-input-tel" placeholder="+7 (___) ___-__-__")
          .application-form-right  
            .application-section 
              .application-section__title Дополнительные услуги
              .form-section 
                .form-section__title Инвентарь:
                .form-section__body 
                  .checkbox 
                    input(type="checkbox", name="" id="check-1" class="checkbox__input")
                    label(for="check-1" class="checkbox__label") Манишки 
                      span (+100 ₽) 
                  .checkbox 
                    input(type="checkbox", name="" id="check-2" class="checkbox__input")
                    label(for="check-2" class="checkbox__label") Фишки
                      span (+100 ₽) 
                  .checkbox 
                    input(type="checkbox", name="" id="check-3" class="checkbox__input")
                    label(for="check-3" class="checkbox__label") Мячи 
                      span (+100 ₽) 
                  .checkbox 
                    input(type="checkbox", name="" id="check-4" class="checkbox__input")
                    label(for="check-4" class="checkbox__label") Еще название в две строки 
                      span (+100 ₽) 
              .form-section 
                .form-section__title Обслуживание игры:
                .form-section__body 
                  .checkbox 
                    input(type="checkbox", name="" id="check-5" class="checkbox__input")
                    label(for="check-5" class="checkbox__label") Тренер 
                      span (+2 500 ₽/час) 
                  .checkbox 
                    input(type="checkbox", name="" id="check-6" class="checkbox__input")
                    label(for="check-6" class="checkbox__label") Судья
                      span (+1 500 ₽)  
        .application-bottom 
          .application-total 
            .application__price Итого:
              span 5 890₽ 
            .application__btn.btn Отправить!
          .application__text Нажимая кнопку «Отправить!», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в 
            a(href="https://xn--80aaacb4bok0apzlgg.xn--p1ai/Legal_notice/Politika_conf_FF.pdf") Политике обработки персональных данных 