.complex-desc
  .complex-desc__title Объединяем людей, влюбленных в футбол с 2015 года!
  .complex-desc__text «Фабрика футбола» – это спортивный комплекс комфорт-класса, расположенный на юге Санкт-Петербурга. Мы постарались создать идеальные условия, чтобы игра в футбол, а также другие виды спорта превратились в приятный отдых и повод для встречи. Пусть людей с активной жизненной позицией становится больше!
.complex-info 
  .complex-info__item
    .complex-info__num 6
    .complex-info__text ПОЛЕЙ
  .complex-info__item
    .complex-info__num 325
    .complex-info__text КОРПОРАТИВНЫХ КЛИЕНТОВ
  .complex-info__item
    .complex-info__num 14
    .complex-info__text УСЛУГ
  .complex-info__item
    .complex-info__num 5
    .complex-info__text ЛЕТ НА РЫНКЕ
