.game-list.game-slider.js-slider.slider 
  .swiper-wrapper 
    .game-item.swiper-slide 
      .game-item__img 
        img(src="images/games/game-1.png", alt="")
        .game-item__badges 
          .game-item__badge До 50 человек
          .game-item__badge От 1 часа
          .game-item__badge Выдача экипировки
      .game-item__info
        .game-item__head 
          .game-item__title Футбол
          .game-item__material Трава
        .game-item__fields 
          .game-item__field Поле 1
          .game-item__field Поле 2
          .game-item__field Поле 3
          .game-item__field Поле 4
          .game-item__field Поле 5
        .game-item__bottom 
          .game-item__price от 1 550 ₽/час
          .game-item__icon
            +svgSprite('arrow-black', 13, 13)
    .game-item.swiper-slide 
      .game-item__img 
        img(src="images/games/game-2.png", alt="")
        .game-item__badges 
          .game-item__badge До 50 человек
          .game-item__badge От 1 часа
          .game-item__badge Выдача экипировки
      .game-item__info
        .game-item__head 
          .game-item__title Футбол
          .game-item__material Трава
        .game-item__fields 
          .game-item__field Поле 1
          .game-item__field Поле 2
          .game-item__field Поле 3
          .game-item__field Поле 4
          .game-item__field Поле 5
        .game-item__bottom 
          .game-item__price от 1 550 ₽/час
          .game-item__icon
            +svgSprite('arrow-black', 13, 13)
    .game-item.swiper-slide 
      .game-item__img 
        img(src="images/games/game-3.png", alt="")
        .game-item__badges 
          .game-item__badge До 50 человек
          .game-item__badge От 1 часа
          .game-item__badge Выдача экипировки
      .game-item__info
        .game-item__head 
          .game-item__title Футбол
          .game-item__material Трава
        .game-item__fields 
          .game-item__field Поле 1
          .game-item__field Поле 2
          .game-item__field Поле 3
          .game-item__field Поле 4
          .game-item__field Поле 5
        .game-item__bottom 
          .game-item__price от 1 550 ₽/час
          .game-item__icon
            +svgSprite('arrow-black', 13, 13)
    .game-item.swiper-slide 
      .game-item__img 
        img(src="images/games/game-4.png", alt="")
        .game-item__badges 
          .game-item__badge До 50 человек
          .game-item__badge От 1 часа
          .game-item__badge Выдача экипировки
      .game-item__info
        .game-item__head 
          .game-item__title Футбол
          .game-item__material Трава
        .game-item__fields 
          .game-item__field Поле 1
          .game-item__field Поле 2
          .game-item__field Поле 3
          .game-item__field Поле 4
          .game-item__field Поле 5
        .game-item__bottom 
          .game-item__price от 1 550 ₽/час
          .game-item__icon
            +svgSprite('arrow-black', 13, 13)

  .slider-pagination 
    .swiper-pagination