section.hero 
  .container 
    .hero-wrapper.js-hero-slider
      .swiper-wrapper
        .hero-content.swiper-slide
          .hero-info 
            .hero__logo 
              img(src="images/logo-vert.svg", alt="")
            .hero__desc Аренда спортивных полейи организация мероприятий
            .hero__tags.tags 
              .tag Командные игры
              .tag Детям и взрослым
              .tag Праздники и корпоративы
              .tag Школа футбола
            a(href="#scheme").hero__btn.btn.btn--icon
              span Выбрать поле!
          .hero-img
            img(src="images/hero/hero-img.png", alt="")
        .hero-content.swiper-slide
          .hero-info 
            .hero__logo 
              img(src="images/logo-vert.svg", alt="")
            .hero__desc Аренда спортивных полейи организация мероприятий
            .hero__tags.tags 
              .tag Командные игры
              .tag Детям и взрослым
              .tag Праздники и корпоративы
              .tag Школа футбола
            a(href="#scheme").hero__btn.btn.btn--icon
              span Выбрать поле!
          .hero-img
            img(src="images/hero/hero-img.png", alt="")
      .slider-navigation 
        .slider-prev
          +svgSprite('arrow-gray', 15, 15)
        .swiper-pagination
        .slider-next 
          +svgSprite('arrow-gray', 15, 15)
      