section.order.section
  .container 
    .order-wrapper 
      .order-map
        iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa4ecabb20204c7c09eb3cb904714f43e79e8751d180c51c86bb3665301b0ed35&amp;source=constructor" width="100%" height="482" frameborder="0")
      .order-content 
        h2.order__title ЗАКАЖИТЕ ЗВОНОК
        .order__subtitle Заполните форму, и наш специалист свяжется с Вами для подтверждения заказа:
        form.order-form(action="#")
          .form-item 
            input.form__input(type="text" placeholder="Имя")
            label.form__label(for="")  
          .form-item 
            input.form__input(type="text" placeholder="Фамилия")
            label.form__label(for="")  
          .form-item 
            input.form__input(type="text" class="js-input-tel" placeholder="+7 (___) ___-__-__")
            label.form__label(for="")  
          button.form__btn.btn Отправить!
          .form__text Нажимая на кнопку «Отправить!», вы даёте согласие на обработку 
            a(href="#") персональных данных 
            | и соглашаетесь с 
            a(href="#") Политикой конфиденциальности